<div class="employee-form-container">

  <div class="form-header">

    <div>
      <h1>
        {{ employeeId ? 'Edit Employee' : 'Add Employee' }}
      </h1>

      <p>
        Manage employee information professionally
      </p>
    </div>

    <button routerLink="/employees" class="back-btn">
      ← Back
    </button>

  </div>

  <form
    [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()"
    class="employee-form"
  >

    <div class="form-grid">

      <div class="form-group">
        <label>Name</label>

        <input
          type="text"
          placeholder="Enter employee name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label>Email</label>

        <input
          type="email"
          placeholder="Enter employee email"
          formControlName="email"
        />
      </div>

      <div class="form-group">
        <label>Department</label>

        <input
          type="text"
          placeholder="Enter department"
          formControlName="department"
        />
      </div>

      <div class="form-group">
        <label>Designation</label>

        <input
          type="text"
          placeholder="Enter designation"
          formControlName="designation"
        />
      </div>

      <div class="form-group">
        <label>Salary</label>

        <input
          type="number"
          placeholder="Enter salary"
          formControlName="salary"
        />
      </div>

      <div class="form-group">
        <label>Experience</label>

        <input
          type="number"
          placeholder="Enter experience"
          formControlName="experience"
        />
      </div>

      <div class="form-group full-width">
        <label>City</label>

        <input
          type="text"
          placeholder="Enter city"
          formControlName="city"
        />
      </div>

    </div>

    <button type="submit" class="submit-btn">

      {{
        employeeId
          ? 'Update Employee'
          : 'Add Employee'
      }}

    </button>

  </form>

</div>